@import "variables";
@import "mixins";

.navbar {
  background-color: $nav-bg-color;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  ul{
    list-style: none;
    @include flex-center;
    justify-content: space-between;
    height: 60px;

    li{
        a{
            text-decoration: none;
        }
    }
  }
}
